.books {
  height: 100vh;

  .p-tag {
    margin-right: 0.5em;
  }

  span.location-edinburgh {
    background-color: red;
  }

  span.location-newcastle {
    background-color: green;
  }

  span.location-bristol {
    background-color: purple;
  }
}

.book-form {
  label {
    width: 80px;
  }

  .field {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .p-inputtext,
  .p-chips {
    flex-grow: 1;
    min-width: 0;
  }
}
