.books {
  height: 100vh;

  .p-tag {
    margin-right: 0.5em;
  }

  .logo {
    font-size: 25px;
  }

  .location-edinburgh {
    background-color: red;
  }

  .location-newcastle {
    background-color: green;
  }

  .location-bristol {
    background-color: purple;
  }

  i {
    margin-right: 10px;

    &.pi-check {
      color: green;
    }

    &.pi-times {
      color: red;
    }
  }

  .p-datatable-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .p-float-label {
    margin-top: 10px;
  }
}

.book-form {
  label {
    width: 80px;
  }

  .field {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
  }

  .p-inputtext,
  .p-chips {
    flex-grow: 1;
    min-width: 0;
  }

  .button-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
  }
}
